<div class="container">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#nuevoModal">
  Nuevo producto
</button>

    <div class="row mt-3">
        <div class="col">
            <h2>Productos</h2>
            <table class="table table-hover text-center">
                <thead>
                    <th>ID</th>
                    <th>IdCategoria</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each productos}}
                    <tr>
                        <td>{{idProducto}}</td>
                        <td>{{idCategoria}}</td>
                        <td>{{descripcion}}</td>
                        <td><img src="/images/{{imagen}}" width="60px" height="60px" alt="imagen del producto"></td>
                        <td>{{stock}}</td>
                        <td>${{valor}}</td>
                        <th>
                            <a href="/admin/productos/edit?idProducto={{idProducto}}">
                                <button class="btn btn-primary" type="button">
                                    Editar 
                                </button>     
                            </a>
                        </th>
                        <th>
                            <a href="/admin/productos/delete?idProducto={{idProducto}}">
                                <button class="btn btn-danger" type="button" onclick="return confirm('Seguro que desea eliminar el producto {{descripcion}}')">
                                    Eliminar 
                                </button>     
                            </a>
                        </th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Nuevo -->
<div class="modal fade" id="nuevoModal" tabindex="-1" aria-labelledby="nuevoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoModalLabel">Nuevo producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/productos/create" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="idCategoria">Categoría *</label>
                        <select name="idCategoria" id="idCategoria" class="form-control" required>
                            <option selected>Choose...</option>
                            {{#each categorias}}
                                <option value={{idCategoria}}>{{descripcion}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción *</label>
                        <input type="text" class="form-control" placeholder="Descripción" name="descripcion" aria-label="descripcion" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen *</label>
                        <input type="file" class="form-control-file" id="imagen" name="imagen" required>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock *</label>
                        <input type="number" min="0" required placeholder="Stock" name="stock" class="form-control">
                    </div>  
                    <div class="form-group">
                        <label for="valor">Precio *</label>
                        <input type="number" step="0.01" min="0" required placeholder="Valor" name="valor" class="form-control">
                    </div>                 
                    <button class="btn btn-primary btn-block">Guardar</button>
                </form>
            </div>
        <div class="modal-footer">
    </div>
</div>


