
        <div class="container">
  

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Categorías</h1>
        <div class="list-group">
            {{#each categorias}}
                <a href="/?idCategoria={{idCategoria}}" class="list-group-item">{{descripcion}}</a>                                                    
            {{/each}}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">



        <div class="row mt-5">
            {{#each productos}}                                               
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80">
              <a href="/producto?idProducto={{idProducto}}"><img class="card-img-top" width="250" height="250" src="/images/{{imagen}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{descripcion}}</a>
                </h4>
                <h5>${{valor}}</h5>
              </div>
              <div class="card-footer">
                <a href="">Ver mas...</a>
              </div>
            </div>
          </div>
            {{/each}}
        </div>
            <h2 class="text-danger">
            {{message}}
            </h2>
                
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
